In [1]:
import pandas as pd

## Violations

In [2]:
df_violations = pd.read_csv('Speed_Camera_Violations.csv')

In [3]:
df_violations.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,10318 S INDIANAPOLIS,CHI120,4/12/19,93,1203645.368,1837056.145,41.707577,-87.529848,"(41.70757690291348, -87.52984826112849)",47.0,"21,202",49.0,705.0,47.0
1,1110 S PULASKI RD,CHI163,4/12/19,9,1149841.166,1894930.809,41.867603,-87.725383,"(41.86760272243294, -87.7253827433152)",36.0,"21,572",30.0,98.0,14.0
2,1111 N HUMBOLDT,CHI010,4/12/19,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11144 S VINCENNES,CHI023,4/12/19,23,1166993.613,1830711.217,41.691025,-87.664248,"(41.69102545584918, -87.6642476900556)",33.0,"22,212",74.0,378.0,42.0
4,11153 S VINCENNES,CHI022,4/12/19,25,1167028.753,1830593.601,41.690702,-87.664122,"(41.690701951255015, -87.66412238501842)",45.0,"22,212",74.0,378.0,22.0

## Camera locations

In [4]:
df_camera = df_violations.groupby(['CAMERA ID'])[[
    'CAMERA ID', 'LATITUDE', 'LONGITUDE', 'Wards'
]].max()

In [5]:
df_camera.head()

          CAMERA ID   LATITUDE  LONGITUDE  Wards
CAMERA ID
CHI003       CHI003  41.975605 -87.731670   38.0
CHI004       CHI004  41.974333 -87.728347   38.0
CHI005       CHI005  41.823189 -87.677349    1.0
CHI007       CHI007  41.823564 -87.684721    1.0
CHI008       CHI008  41.877071 -87.718168   23.0

## Crimes

In [6]:
df_c15 = pd.read_csv('Crimes_-_2015.csv')

In [7]:
df_c16 = pd.read_csv('Crimes_-_2016.csv')

In [8]:
df_c17 = pd.read_csv('Crimes_-_2017.csv')

In [9]:
df_c18 = pd.read_csv('Crimes_-_2018.csv')

In [10]:
df_crimes = pd.concat([df_c15, df_c16, df_c17, df_c18])

In [11]:
df_crimes_by_wards = df_crimes.groupby(['Wards'])[['Case Number']].count()

In [12]:
df_camera_crime = df_camera.merge(df_crimes_by_wards, how='left', on='Wards')

In [13]:
df_camera_crime.to_csv('camera_with_crime.csv')